<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybid.mapper.EasybidMapper">

    <insert id="insert" parameterType="EasybidItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auction_item
        (cltr_no, cltr_nm, apsl_ases_avg_amt, min_bid_prc, pbct_cls_dtm)
        VALUES
        (#{cltrNo}, #{cltrNm}, #{apslAsesAvgAmt}, #{minBidPrc}, #{pbctClsDtm})
    </insert>

    <!-- 전체 조회 -->
    <select id="findAll" resultType="EasybidItem">
        SELECT * FROM auction_item ORDER BY id DESC
    </select>

</mapper>
